@require "colors";
@require "mixins";

@def LOGO resourceUrl("logo");
@def LOGO_BG resourceUrl("logobg");

/* -- Init ----------------------------------------------- */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background-color: C_BACKGROUND;
    color: C_TEXT;
}

/* -- Container ------------------------------------------ */

.container {
    margin: 0 auto;
    width: 980px;

    position: relative;
    z-index: 99;
}

@media (max-width: 979px) {
    .container {
        width: 650px;
    }
}

@media (max-width: 649px) {
    .container {
        width: auto;
    }
}

/* -- Headings ------------------------------------------- */

h1{
    font-size: 3rem;
    font-weight: 400;
    color: #fff;

    margin: 0.3em 0 0.9em;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    color: C_PRIMARY;;

    margin: 0.2em 0 0.9em;
}

h3 {
    font-size: 1.4rem;

    margin: 0.1em 0 0.7em;
}

h4 {
    font-size: 1.4rem;
    font-weight: 400;

    margin: 0.1em 0 0.3em;
}

/* -- Elements ------------------------------------------- */

p {
    line-height: 1.7em;

    margin-bottom: 0.8em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

hr {
    background-color: C_TEXT;

    display: block;
    height: 2px;
    margin: 1.8em 0;
    border: 0;
}

input:focus {
    outline: none;
}

/* -- Classes ------------------------------------------- */

.hidden { display: none; visibility: hidden; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.center {
    text-align: center;
}

/* -- Header -------------------------------------------- */

.header {
    background: C_PRIMARY;
    padding-top: 1em;
}

.home .header {
    background: C_PRIMARY LOGO_BG no-repeat left 5% bottom -170px;
    padding: 8em 0 7em;
}

.home .header h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 0.5em;
    text-shadow: 2px 2px 0 rgba(128, 14, 235, 1), 5px 5px 0 rgba(0,0,0,.4);

    margin-bottom: 0.1em;
}

.home .header p {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.3em;
    color: #fff;
}

.home .header ul {
    text-align: right;

    display: block;
    margin: 0;
    padding-top: 30px;
    width: 100%;
}

.home .header ul li {
    list-style-type: none;
}

.home .header ul li a {
    color: #fff;
    background-color: C_PRIMARY_DARK;
    text-align: right;
    font-size: 2em;
    text-decoration: none;

    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 10px;

    @mixin transition(background-color, 0.2s);
    @mixin rounded(1em);
}

.home .header ul li a:hover {
    background-color: C_PRIMARY_LIGHT;
}

/* -- Nav ----------------------------------------------- */

.nav {
    background-color: #fff;

    padding: 16px 0 10px;
}

.nav a.logo {
    background: LOGO no-repeat center center;
    -webkit-background-size: 45px auto;
    background-size: 35px auto;
    text-indent: -9999px;

    display: inline-block;
    width: 35px;
    height: 30px;

    @mixin transition(all, 0.2s);
    @mixin opacity(0.1);
}

.nav a.logo:hover {
    @mixin opacity(1);
}

.nav ul {
    margin-left: 0;
    text-align: right;
}

.nav ul li {
    list-style-type: none;

    display: inline-block;
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: C_TEXT_LIGHT;
    text-transform: uppercase;

    @mixin transition(color, 0.2s);
}

.nav ul li a:hover {
    color: #000;
}

/* -- Main ---------------------------------------------- */

.content {
    padding: 4em 0;
}

/* -> Home -- */

.home code {
    background-color: #250841;
    color: #fff;

    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 2em;
    
    @mixin rounded(5px);
}

.home code .greyed {
    color: #999;
}

.home .myelement {
    color: #fff;
    text-align: center;

    width: 50%;
    padding: 10px;
    margin: 0 auto 4em;

    @mixin rounded(15px);
    @mixin shadow_text(2px, 2px, 4px, 0.6);
    @mixin gradient_h(#000, #800eeb);
}

.home .myelement:hover {
    @mixin shadow(2px, 2px, 1px, 0.3);
}

/* -> Sidebar -- */

.sidebar {
    background-color: #fff;

    padding: 30px 0 10px;

    @mixin rounded(5px);
}

.sidebar h2 {
    color: C_TEXT;
    font-weight: 300;

    margin-bottom: 7px;
    padding: 0 20px;
}

.sidebar ul {
    margin: 0 0 20px;
    padding: 0;
}

.sidebar ul li {
    list-style-type: none;

    margin-bottom: 5px;
    padding: 3px 20px;
}

.sidebar ul li a {
    color: C_PRIMARY;
    text-decoration: none;
}

.sidebar ul ul {
    margin-top: 5px;
    margin-bottom: -10px;
}

.sidebar ul ul li {
    padding-left: 5px;
}

.sidebar ul ul li a {
    color: C_TEXT_LIGHT;
}

/* -> Docs -- */

.docs {

}

.docs article {
    margin-bottom: 50px;
    padding-bottom: 55px;
    border-bottom: 1px solid C_PRIMARY_LIGHT;
}

.docs article h4 {
    background-color: C_PRIMARY;
    color: #fff;

    padding: 5px 15px;
    margin-bottom: 0;
}

.docs code {
    background-color: #fff;

    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 14px;
    border-left: 4px solid C_PRIMARY;

    @mixin boxsizing();
}